<div class="cardContainer">
  <button (click)="onBackClick()" mat-raised-button class="backButton">
    <mat-icon>arrow_back</mat-icon> Back
  </button>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title
        >Meeting Name: {{ meetingData?.meetingName }}</mat-card-title
      >
      <mat-card-subtitle
        >Number of Participants:
        {{ meetingData?.nrOfParticipants }}</mat-card-subtitle
      >
    </mat-card-header>
    <iframe
      width="100%"
      height="543"
      [src]="getSanitizedURL()"
      frameborder="0"
      allow="autoplay;"
      allowfullscreen
    ></iframe>
  </mat-card>
</div>
